<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tweetstats -->
      <package
            uri="http://ece.fr/tweetstats"
            class="tweetstats.TweetstatsPackage"
            genModel="model/tweetstats.genmodel"/>
   </extension>

</plugin>
